schemas/ExtensionUtilities.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:doc="urn:schemas-basda-org:schema-extensions:documentation" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.10" id="eBIS-XML_ExtensionUtilities" targetNamespace='urn:schemas-basda-org:ExtensionUtilities' xmlns='urn:schemas-basda-org:ExtensionUtilities' >
	<xsd:annotation>
		<xsd:appinfo>
			<doc:Metadata>
				<doc:Title>eBIS-XML Utilities XML Extension</doc:Title>
				<doc:Subject>eBIS-XML Component Library (Utilities XML Extension)</doc:Subject>
				<doc:Version>
					<doc:Number>3.10</doc:Number>
					<doc:Status>Production</doc:Status>
				</doc:Version>
				<doc:Author>Sandra Knight, Ray Snowden and Ronald Duncan</doc:Author>
				<doc:ModificationDate>7 Apr 12</doc:ModificationDate>
				<doc:Note>This is the Utilities Extension of the eBIS-XML Component Library of structures. The schema is not valid on its own; it must be used in conjunction with the eBIS-XML Component Library of types.</doc:Note>
				<doc:Note>Messages conformant to eBIS-XML v3.10 will conform to the superset definitions based on these libraries.</doc:Note>
				<doc:Note>This schema was developed by Sandra Knight and Ray Snowden of Kent County Council, along with Ronald Duncan of @UK PLC, as part of the BASDA Utilities XML development group</doc:Note>
				<doc:Note>Message definitions can be derived from these components by referencing them and using XML Schema redefine where necessary. Please see the literature and http://basda.net for further information.</doc:Note>
			</doc:Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:include schemaLocation="CoreTypes-v3.xsd"/>
	<xsd:element name="UtilitiesLine">
		<xsd:annotation>
			<xsd:documentation>Site Invoice Line Extensions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Product" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The type of Utility GAS, ELECTRICITY, WATER, MIX, PHONE, FUEL</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="SiteInvoiceHeader">
					<xsd:annotation>
						<xsd:documentation>SiteInvoiceHeader is repeated once for every BASDA line</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="SiteInvoiceLine" maxOccurs="unbounded"/>
				<xsd:element ref="SiteInvoiceFooter">
					<xsd:annotation>
						<xsd:documentation>SiteInvoiceFooter is repeated once for every BASDA line</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SiteInvoiceHeader">
		<xsd:annotation>
			<xsd:documentation>Site Level Invoice Header extensions for Utility BIlls</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SiteInvoiceNumber" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Unique identifier for an invoice applied to a single supply point as generated by the supplier</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="BillTypeCode">
					<xsd:annotation>
						<xsd:documentation>Code for type of bill i.e. Invoice, Credit Note and whether it is a final bill
</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="BillType" type="xsd:string" use="optional">
									<xsd:annotation>
										<xsd:documentation>INV - Normal Invoice
CRN - Credit Note  
TRM - Normal Invoice Termination 
CTR - Credit Note Termination </xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BillFrequencyCode">
					<xsd:annotation>
						<xsd:documentation>Code to denote the frequency with which the supply is invoiced</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="BillFrequency" type="xsd:string" use="optional">
									<xsd:annotation>
										<xsd:documentation>M-Monthly
Q-Quarterly
W-Weekly
F-Fortnightly
D-Daily
S-Six-Monthly
A-Annual
O-Other
</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="WithdrawnInvoiceDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For a withdrawn invoice, the date on which the invoice being withdrawn was originally raised</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="WithdrawnInvoiceNumber" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For a withdrawn invoice, the original invoice number of the invoice being withdrawn </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="WIthdrawnVAT" type="xsd:decimal" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>For a withdrawn invoice, the VAT amount applied to the original invoice now being withdrawn </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SupplyStartDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Start date of Supply Period for this invoice</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SupplyEndDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>End date of Supply Period for this invoice</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NumberOfDays" type="xsd:integer" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The difference between the Supply End Date and Supply Start Date + 1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SiteID">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SupplierSiteID" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Suppliers reference for the Site</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="CustomerSiteID" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Customers own reference for the site</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GLN" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Global Location Number. Unique identifier allocated by GS1</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Address" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Supply point address. All the constituent elements are optional as any one of them may be unavailable. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AddressLine" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Address line other than the specifically identified elements ( City, County, Postcode or Country )</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="City" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>City ( or town if applicable )</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="State" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>County</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PostCode" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="MeterPointData" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="HeaderSupportingData" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Data used in the Invoice Header that does not logically sit within a specific element. The Attribute describes the usage of the supporting data.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TariffDescription" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The suppliers tariff or contract description </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Narrative" type="NarrativeType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Any supporting narrative the supplier may wish to use</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SiteInvoiceLine">
		<xsd:annotation>
			<xsd:documentation>Site Level Invoice Line extensions for Utility Bills</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LineNumber" type="xsd:integer">
					<xsd:annotation>
						<xsd:documentation>Unique identifier of SiteInvoiceLine</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ChargeTypeCode">
					<xsd:annotation>
						<xsd:documentation>Identifies what charge this Invoice Line is for.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SuppliersChargeTypeCode" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The code by which the supplier knows the charge. </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BuyersProductCode" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The code by which the buyer knows the charge</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Description" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The description of the charge.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChargeSource" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Some customers are on tariffs where the charges they incur from the distributor or Network are passed through to the customer directly. This indicates the original source of the charge.                   S: Supplier charge
D: Distributor charge
T: Transmission charge</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string"/>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SuppliersChargeDescription" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>A high level indication of the charge type</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NumberOfDays" type="xsd:integer" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Used if the number of days  is relevant to a charge</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ChargeStartDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Start date of charge</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ChargeEndDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>End date of charge</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="MeterPointData" minOccurs="0"/>
				<xsd:element name="TPR" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Identifies presence of a Registers to monitor power consumed over a certain period of time.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReadingDetails" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Reading Details associated with the invoice line. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="MeterPointData" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Full MPAN for Electricity, and MPR for Gas contracts.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TPR" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Identifies presence of a Registers to monitor power consumed over a certain period of time.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="MeterDetails" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Meter details</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MeterSerialNumber" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation>The meter number associated with the MPAN/MPR and being billed on this line as it will appear on the bill. Optional for un-metered or site level charges.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="NumberofDigits" type="xsd:integer" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The number of digits on Meter</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="MeterLocation" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>To describe the physical location of the meter</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="GPSLocation" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>GPS longitude and latittude coordinates of physical meter location</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Readings" maxOccurs="2">
								<xsd:annotation>
									<xsd:documentation>Meter reading data repeated for present (code PRES) and previous read types (code PREV). Normally two Reading elements will be present for each ReadingDetails Element. </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ReadDate" type="xsd:date">
											<xsd:annotation>
												<xsd:documentation>The date the read was taken</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Value">
											<xsd:annotation>
												<xsd:documentation>Value on the register of meter.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ReadType">
											<xsd:annotation>
												<xsd:documentation>00,Normal Reading
01,Estimated Manual
02,Estimated Computer
03,Removed Meter Read
04,Customers Own Read
05,Computer Reading
06,Exchange Meter Read
07,Corrector Meter Read
08,No Reading Available
09,Third Party Normal Read
10,Third Party Estimated Manual
11,Third Party Estimated Computer
12,Reading For Information Only</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="Code" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation>Code - PRES - present
Code - PREV - previous</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Quantity" maxOccurs="2">
								<xsd:annotation>
									<xsd:documentation>The quantity of product being supplied against this line. First quantity is difference between readings. Second is  first quantity with all adjustments applied.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="Code" type="xsd:anySimpleType" use="required">
												<xsd:annotation>
													<xsd:documentation>QtyType = "Actual" , "Adjusted"</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="UOMCode" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>UOMCode = Refer to Code Lists</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="UOMDescription" type="xsd:string">
												<xsd:annotation>
													<xsd:documentation>UOMDescription =Refere to Code Lists</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="QuantityAdjustments" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Adjustment factors to be applied to quantity. Code list attributes. List includes MM (meter modifier) CF (Correction Factor) </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="AdjustmentCode" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>AdjustmentCode = CV, CF , MM</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChargeDetails" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>The cost details of the charge.Repeated where there are quantity price breaks.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Quantity">
								<xsd:annotation>
									<xsd:documentation>The quantity of product being supplied against this line. First quantity is difference between readings.  Second is  first quantity with all adjustments applied (the entire ChargeDetails needs repeated each time).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="UOMCode" type="xsd:string" use="optional">
												<xsd:annotation>
													<xsd:documentation>UOMCode = Refer to Code Lists</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
											<xsd:attribute name="UOMDescription" type="xsd:string" use="optional">
												<xsd:annotation>
													<xsd:documentation>UOM Description = Refer to Code Lists</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Price" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>The price per unit for the charge line </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Amount" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>The amount for this part of the ChargeDetails</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="LineTotal">
					<xsd:annotation>
						<xsd:documentation>The Total amount of charge for this line. It should be possible to calculate this figure using all the other data supplied on the SiteInvoiceLine and it's child elements.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="LineTaxCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>To indicate the tax code that will be applied to this line item in the final tax calculation.                         S - Standard
L - Lower
X - Exempt
Z - Zero</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType/>
				</xsd:element>
				<xsd:element ref="SupportingData" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Data used in the calculation of LineTotal that does not fit anywhere else on the line. The Attribute describes the usage of the supporting data.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Narrative" type="NarrativeType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Any supporting narrative the supplier may wish to use</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SiteInvoiceFooter">
		<xsd:annotation>
			<xsd:documentation>Site Level Invoice Footer extensions for Utility Bills</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InvoiceCallDetails" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="MeterPointData"/>
							<xsd:element name="CallDate" type="xsd:date"/>
							<xsd:element name="CallTime" type="xsd:time"/>
							<xsd:element name="NumberDialled" type="xsd:string"/>
							<xsd:element name="CallDuration" type="xsd:integer"/>
							<xsd:element name="CallDataVolume" type="xsd:decimal"/>
							<xsd:element name="CallUnits" type="xsd:string"/>
							<xsd:element name="CallAmount" type="xsd:decimal"/>
							<xsd:element name="CallChargeCode" type="xsd:string"/>
							<xsd:element name="CallNetwork" type="xsd:string"/>
							<xsd:element name="CallCountry" type="xsd:string"/>
							<xsd:element name="CallType" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SiteCCL" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Details of any CCL charges applicable to this invoice. Repeated for each CCL rate applicable for the period invoiced</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Proportion" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>CCL proportion as a factor. Repeated for each CCL proportion/value combination applicable for this site.  </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:integer">
											<xsd:attribute name="ProportionType">
												<xsd:annotation>
													<xsd:documentation>Green
CHP
Technology
Domestic</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ChargeStartDate" type="xsd:date" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The start date to cover the full period of the invoice charge at this rate of CCL</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ChargeEndDate" type="xsd:date" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The end date to cover the full period of the invoice charge at this rate of CCL</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Quantity">
								<xsd:annotation>
									<xsd:documentation>The number of units billed at this rate of CCL. </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="UOMCode"/>
											<xsd:attribute name="UOMDescription"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Price" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>Price per unit for the CCL units billed</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TotalValue" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>Total charge for CCL = Quantity x Price  </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SiteVAT" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Repeat for each rate of Vat chargeable for this site invoice</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PercentageLower"  minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Percentage qualifying for lower rate of VAT</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="ReasonForLowerRate" type="xsd:string" use="optional">
												<xsd:annotation>
													<xsd:documentation>Domestic
Deminimis</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DaysVat" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The number of days in the period of the VAT charge</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxRate">
								<xsd:annotation>
									<xsd:documentation>Tax Rate applicable. Code and CodeList attributes</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:decimal">
											<xsd:attribute name="Code" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation>Invoice Vat Codes
S - Standard
L - Lower
X - Exempt
Z - Zero

Withdrawn Invoice Vat Codes
B - standard
M - Lower
U - Exempt
Z - Zero Rate</xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TaxableValueAtRate">
								<xsd:annotation>
									<xsd:documentation>The total value of the site invoice lines at this rate of tax</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxAtRate" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>Amount of tax charged at this rate</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TotalValueAtRate" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>The total amount charged for this rate of tax. Taxable value + TaxAtRate</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SiteTotal">
					<xsd:annotation>
						<xsd:documentation>Site invoice totals - one per Site</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NumberOfLines" type="xsd:integer">
								<xsd:annotation>
									<xsd:documentation>The number of SiteInvoiceLines contained in this invoice</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NumberOfTaxRates" type="xsd:integer">
								<xsd:annotation>
									<xsd:documentation>The number of different tax rates associated with this invoice</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxableTotal" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>The total taxable value for this SiteInvoice across all tax rates</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="TaxTotal" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>The total tax for this SiteInvoice across all tax rates</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="GrossPaymentTotal" type="xsd:decimal">
								<xsd:annotation>
									<xsd:documentation>The total tax for this SiteInvoice across all tax rates</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="HeaderSupportingData">
		<xsd:annotation>
			<xsd:documentation>Supporting Data Specific to the Invoice Header</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Code">
						<xsd:annotation>
							<xsd:documentation>CV - The calorific value for the invoice period
PF - Power factor for the site</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SupportingData">
		<xsd:annotation>
			<xsd:documentation>Meter/readings related supporting data. Code and CodeList Attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Sequence" type="xsd:int">
					<xsd:annotation>
						<xsd:documentation>The sequence number to allow for Supporting Data items to be grouped together</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Value">
					<xsd:annotation>
						<xsd:documentation>The Value of the SupportingData\Type element</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:decimal">
								<xsd:attribute name="Type">
									<xsd:annotation>
										<xsd:documentation>PERCENT - to represent PENALTY and Security Deposit
TAXRATE
CAPITAL
INVOICE
DATE
UNITS
UOM
AMOUNT
MULT
MPAN
TIME
HH
LAF</xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Code" type="xsd:string"/>
			<xsd:attribute name="CodeList"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MeterPointData">
		<xsd:annotation>
			<xsd:documentation>Including Profile, Timeswitch data etc</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DistributionIdentifier" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Geographical location of distributor.  The first 2 digits of the MPAN_CORE. Only used in Electricity Invoices.            00 - National Grid
10 - Eastern England
11 - East Midland
12 - London
13 - Merseyside and Northern Wales
14 - West Midlands
15 - North Eastern England
16 - North Western England
17 - Northern Scotland
18 - Southern Scotland
19 - South Eastern England
20 - Southern England
21 - Southern Wales
22 - South Western
23 - Yorkshire
24 - Independent Power Networks Limited
25 - Laing Energy Limited
26 - Global Utility Connections Limited
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="UniqueReference" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Data to enable identification of the Meter Point. Full MPAN for Electricity, MPR for Gas and Mobile Phone Number for phone supply.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CheckDigit" type="xsd:integer" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The Check digit for the MPAN core (last 3 digits of the MPAN). Only used in Electricity Invoices.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProfileType" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Profile of the MPAN (digits 4/5 of the MPAN). Only used in Electricity Invoices.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TimeSwitch" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>MTC of the MPAN (digits . Only used in Electricity Invoices.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="LineLossFactor" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>LLF of the MPAN.  Only used in Electricity Invoices.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SSCCode" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Refer to MDD
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
